@import "./theme.module.scss";

.container {
  border: 0.1em solid $secondary-color;
  display: flex;
  color: $primary-color;
  font-size: $font-size--default;
}

.input {
  padding: $padding--default;
  border: none;
  color: inherit;

  &__icon-container {
    width: $icon-size--default;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding--default;
  }
}

.input--primary {
  border: 0.1em solid $secondary-color;
}

.input--secondary {
  border: none;
  border-bottom: 0.1em solid $secondary-color;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: $secondary-color;
}

.icon-container {
  &__img {
    max-width: 100%;
  }
}

// SIZE: SMALL
.size--small {
  font-size: $font-size--small;
}

.size--small input {
  padding: $padding--small;
}

.size--small .input__icon-container {
  padding: $padding--small;
}

// SIZE: NORMAL
.size--normal {
  font-size: $font-size--normal;
}

.size--normal input {
  padding: $padding--normal;
}

.size--small .input__icon-container {
  padding: $padding--normal;
}

// SIZE: BIG
.size--big {
  font-size: $font-size--big;
}

.size--big input {
  padding: $padding--big;
}

.size--small .input__icon-container {
  padding: $padding--big;
}
