$primary-color: #444444;
$secondary-color: #9b9b9b;

$icon-size--default: 40px;

$font-size--default: 1em;
$font-size--small: 0.6em;
$font-size--normal: 1em;
$font-size--big: 0.6em;

$padding--default: 0.6em;
$padding--small: 1em;
$padding--normal: 0.6em;
$padding--big: 1em;
