$background-color: #444444;
$background-color--hover: #363636;
$color: #fff;

$font-size--normal: 1em;
$font-size--small: 0.6em;
$font-size--big: 1.4em;
$font-size--default: $font-size--normal;

$font-weight--normal: 500;
$font-weight--small: 0.6em;
$font-weight--big: 1.4em;
$font-weight--default: $font-weight--normal;

$padding--small: 1em;
$padding--normal: 0.5em 1em;
$padding--big: 1em;
$padding--default: $padding--normal;
