@import "./theme.module.scss";

.checkbox-container {
  display: flex;
  align-items: center;
  column-gap: $container-spacing;
  color: $text-color;

  .checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    width: $checkmark-width;
    height: $checkmark-height;

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: $checkmark-width;
      height: $checkmark-height;
    }

    &__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      border: 1px solid $checkmark-border-color;
    }

    &__label {
    }
  }
}

.checkmark {
  &__icon {
    width: 100%;
    height: 100%;
  }
}
